<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione excepturi omnis quis exercitationem, non aut eos consectetur ab tenetur, libero quod officia quam ipsum. Nam repellat cumque sit iure harum.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsa architecto qui, facilis quasi alias omnis? Cumque ullam unde, commodi inventore dicta rerum natus ad, asperiores, corporis consectetur necessitatibus ea non!</p>
</body>
</html>