<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>These are all the comments</h1>
    <ul>
        <% comments.forEach(comment=> { %>
            <li>
                <%= comment.comment %> - <b><%= comment.writer %></b>
            </li>
            <a href="comment/<%= comment.id %>">See More</a>
        <% }) %>
    </ul>

    <a href="/add">Add Comment</a>
</body>

</html>