<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>This is not related to comments anyhow, this is just basic demo for post requests in express </h3>
    <form action="/tacos" method="POST">
        <input type="text" name="fname"> <br> <br>
        <input type="text" name="lname"> <br> <br>
        <input type="number" name="age"> <br> <br>
        <input type="submit">
    </form>
</body>
</html>