<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/farms/add" method="POST">
        <label for="name">Enter Farm Name</label>
        <input type="text" id="name" name="name">
        <br> <br>

        <label for="location">Enter Farm Location</label>
        <input type="text" id="location" name="city">
        <br> <br>

        <label for="email">Enter Farm Email</label>
        <input type="email" id="email" name="email">
        <br> <br>
        
        <input type="submit" value="Add Product">
    </form>    
</body>
</html>