.container{
    /* height: 600px; */
    width: 1400px;
    background-color: #264653 ;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* align-content: flex-start; */
}

.box{
    height: 200px;
    width: 200px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 200px;
    max-width: 450px;
    /* flex-grow: 1; */
}

.box:nth-of-type(5){
    /* align-self: flex-end; */
    flex-grow: 1;
}
.box:nth-of-type(1){
    /* align-self: flex-end; */
    flex-grow: 2;
}